<header>
  <div class="navbar navbar-dark bg-orbit shadow-sm fixed-top">
    <div class="container-fluid d-flex justify-content-between px-0 px-sm-2">
      <div class="d-flex align-items-center">
        <a href="#" class="navbar-brand py-1 d-flex align-items-center">
          <img src="/assets/img/logo.png" class="img-fluid">
        </a>
        <button class="btn text-light" type="button" (click)="activeSide = !activeSide" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <button class="btn text-light p-0" type="button"><i class="fa fa-power-off mr-2" aria-hidden="true"></i>
        Logout</button>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="sidenav py-4" [ngClass]="{'active': activeSide}">
      <div class="d-flex flex-column align-items-center user-container">
        <i class="far fa-user-circle fa-5x user-avatar"></i>
        <h3 class="user-name mt-3">James Sanchez</h3>
        <h4 class="user-role">ADMIN</h4>
        <p class="small text-muted">james@medtrainer.com</p>
      </div>
      <ul class="list-group side-navegation">
        <li class="list-group-item active side-item selectable">Video Distribution</li>
        <li class="list-group-item side-item selectable">Dapibus ac facilisis in</li>
        <li class="list-group-item side-item selectable">Morbi leo risus</li>
        <li class="list-group-item side-item selectable">Porta ac consectetur ac</li>
        <li class="list-group-item side-item selectable">Vestibulum at eros</li>
      </ul>
    </div>
    <main class="col px-3 px-sm-4 py-4">
      <div class="row">
        <div class="col-12 col-sm-auto">
          <h1 id="content">Welcome to Orbits!</h1>
        </div>
        <div
          class="col-12 col-sm d-flex flex-xl-nowrap flex-wrap flex-column flex-sm-row align-items-center orbits-actions justify-content-center justify-content-sm-end">
          <p class="p-0 mt-0 mb-1 mr-2 ml-0 ml-sm-auto text-center text-sm-left orbits-actions-directions">Please select an option</p>
          <div class="orbits-actions">
            <button (click)="startSelection('bundle')" type="button" class="btn btn-primary orbits-actions-button orbits-actions-bundle-button mr-1 mb-1" [ngClass]="{'disabled': selectionMode}" [disabled]="selectionMode">
              <i class="fas fa-box"></i> Create Bundle
            </button>
            <button (click)="startSelection('assign')"  type="button" class="btn btn-secondary orbits-actions-button mx-1 mb-1 orbits-actions-assign-button" [ngClass]="{'disabled': selectionMode}" [disabled]="selectionMode">
              <i class="fas fa-play-circle"></i> Assign Videos
            </button>
            <button type="button" class="btn btn-info ml-1 orbits-actions-button mb-1 orbits-actions-search-button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row mt-4" *ngIf="selectionMode">
        <div class="col-12">
          <div class="card">
              <div class="card">
                <div class="card-header">
                    <h5 class="card-title pb-3 pt-2"> {{ selectionType === 'bundle' ? 'Create bundle' : 'Assign videos' }}</h5>
                </div>
                <div class="card-body">
                  <mat-form-field class="w-50" *ngIf="selectionType === 'bundle'">
                    <input matInput placeholder="Add Bundle Name">
                  </mat-form-field> 
                  <p class="mb-1">Select the videos you want to {{ selectionType === 'bundle' ? 'add to the bundle' : 'assgin' }}</p>
                  <div class="selected-videos d-flex flex-wrap">
                      <span *ngFor="let video of selectedVideos" class="badge badge-secondary selected-video-badge mr-1 mb-1" (click)="selectVideo(video)"> VIDEO {{ video.id}} <i class="fas fa-times-circle"></i></span>
                  </div>                 
                  <div class="select-all d-flex align-items-center mt-2 mb-4 ml-3">
                      <div (click)="selectAll()" class="video-checkbox text-center d-flex align-items-center mr-2" [ngClass]="{'checked': allSelected()}" >
                          <i class="fas fa-check mx-auto" *ngIf="allSelected()"></i>
                      </div>
                      <span>Select all videos</span>
                  </div>
                  <p class="mb-1" *ngIf="selectionType === 'assign'">Assgin videos to</p>
                  <form class="form-inline" *ngIf="selectionType === 'assign'">
                    <input type="email" class="form-control" placeholder="email@email.com">
                  
                    <button type="submit" class="btn btn-primary my-1 ml-1 orbits-actions-assign-button">Add</button>
                  </form>
                  <p class="text-muted small" *ngIf="selectionType === 'assign'">Add the email addresses of the people that will have this bundle assigned.</p>
                  <div class="selection-buttons mt-4">
                    <button type="button" class="btn btn-success disabled" disabled> {{ selectionType === 'bundle' ? 'Create' : 'Assign' }} </button>
                    <button type="button" class="btn btn-light ml-2" (click)="startSelection('')">Cancel</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col d-flex align-items-center orbits-subject-filter">
          <p class="my-0 mr-2">Subject filter</p>
          <p-dropdown [options]="subjectFilter" [(ngModel)]="selectedFilter" placeholder="All" optionLabel="name"
            [showClear]="true"></p-dropdown>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 video-container my-4" [ngClass]="{'video-selected': isSelected(video), 'selectable': selectionMode}" (click)="selectVideo(video)" *ngFor="let video of filteredVideos">
          <div class="card w-100 mb-3">
            <img class="bd-placeholder-img card-img-top video-thumb" [src]="'/assets/img/'+ video.thumbnail">
            <div class="video-checkbox text-center d-flex align-items-center" *ngIf="selectionMode" [ngClass]="{'checked': isSelected(video)}" >
                <i class="fas fa-check mx-auto" *ngIf="isSelected(video)"></i>
            </div>
            <i class="far fa-play-circle fa-5x mx-auto" [hidden]="selectionMode"></i>
            <div class="video-badges">
              <span class="badge badge-secondary video-subject">{{ video.subject}}</span>
              <span class="badge badge-primary video-duration">{{ video.duration}}</span>
            </div>

          </div>
          <div class="card w-100 video-info-card">
            <div class="card-body video-meta d-flex align-items-center">
              <span class="video-id mr-2 pr-2">{{ video.id }}</span><span class="video-name">{{ video.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </div>
</div>