.sidenav{
    width: 275px;
    border-right: 1px solid rgba(0,0,0,.1);
    box-shadow: 2px 0px 6px 0px #0000001A;
    position: sticky;
    z-index: 1000;
    top: 4.5rem;
    height: calc(100vh - 4.5rem);
    transition: all 0.3s;
    background-color: #fff;
}
.sidenav.active {
    margin-left: -275px;
}

h1{
    font-size: 26px;
    font-weight: 400;
}
.orbits-actions-button{ font-weight: 200; }
.orbits-actions-bundle-button{ background-color: rgba(247, 147, 30, 1) ; border-color: rgba(247, 147, 30, 1); }
.orbits-actions-assign-button{ background-color: rgba(0, 169, 157, 1) ; border-color: rgba(0, 169, 157, 1); }
.orbits-actions-search-button{ background-color: rgba(0, 91, 139, 1) ; border-color: rgba(0, 91, 139, 1); }

.orbits-subject-filter{ font-weight: 200; }

.card, .video-thumb {
    border-radius: .50rem;
    border: none;
    box-shadow: 0 3px 7px #0000001A;
    transition: all 0.3s;
}
.card-title { margin-bottom: 0 !important; border-bottom: 1px solid rgba(0,0,0,.1); }
.card-header { background-color: #fff !important; border: none !important; }

.video-container{
    transition: all 0.3s;
}

.video-container:hover .card, .video-thumb:hover, .card:hover {
    box-shadow: 0 5px 12px #0000001F;
}

.video-container .video-checkbox, .video-container .fa-play-circle, .video-badges .badge{
    position: absolute;
}
.video-subject { left: 5px; bottom: 5px; background-color: rgba(0, 169, 157, 1) ; border-color: rgba(0, 169, 157, 1); }
.video-duration { right: 5px; bottom: 5px; }
.video-container .fa-play-circle { left: 0;right: 0;top: 0;bottom: 0;margin-top: auto; margin-bottom: auto;color: #fff; width: 80px; height: 80px; cursor: pointer; color: #fff; }
.video-container .video-checkbox { right: 5px;top: 5px; }
.video-checkbox {padding: 0 !important; background-color: #fff; height: 25px; width: 25px; border-radius: 50%; cursor: pointer; border: solid 1px gray; }
.video-checkbox .fas { display: none; }
.video-checkbox.checked { background-color: rgba(247, 147, 30, 1) ;   }
.video-checkbox.checked .fas { display: block; color: #fff; }
.video-id { font-size: 28px; font-weight: bold; display: inline-block; border-right: 1px solid rgba(0,0,0,.1); }
.video-name { font-weight: 200; }
.video-badges .badge { border-radius: 1.25rem; font-weight: 200; }

.video-selected .video-info-card  { background-color: rgba(247, 147, 30, 1) !important;  color: #fff !important; }
.video-selected .video-id { border-right: 1px solid #fff !important; }
.video-selected .video-badges .badge { background-color: rgba(247, 147, 30, 1) !important;  }

.selected-videos{ min-height: 22px; }

.selected-video-badge {  background-color: rgba(247, 147, 30, 1) ; cursor: pointer; font-weight: 200; }

.select-all{ font-weight: 200; }

.selectable { cursor: pointer !important; }

.video-thumb{
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .sidenav {
        margin-left: -275px;
        position: fixed;
    }
    .sidenav.active {
        margin-left: 0;
    }
    .orbits-actions-bundle-button{
        margin-left: 0 !important;
    }
}
